/* red */
$oxblood: #76323F;
$rust: #B56357;
$cocktail: #F24C4E;
$crimson-sky: #CF6766;
$coral: #E14658;
$rusty-red: #984B43;
$antique-ruby: #841B2D;
$crimson: #9E1B32


/* blue */
$ink: #062F4F;
$feather: #77C9D4;
$teal: #056571;
$blueberry: #6B7A8F;
$azure: #01ABAA;
$electric: #4CDEF5;
$blue-topaz: #67AECA;
$evening: #192231;
$powder-blue; #4ABDAC;
$cotton: #99CED4;
$bluebell: #155765;
$sunshine: #465C8B;
$cyan: #62EDD6;
$cerulean: #00303F;
$blue-mist: #90AFC5
$stone: #336B87;
$other-sunshine: #52658F; /* baby-blue */

/* green */
$aquamarine: #02C8A7;
$marine: #57BC90;
$mint: #B4DBC0;
$mist: #7A9D96;
$grass: #85E582;
$vermillion: #93C178;
$morning-sky: #CAE4DB;
$sea-foam: #A7B3A5;
$pea: #A4D555;
$shrub: #0E8044;
$palm: #1B7B34;
$ocean: #1FB58F;
$canopy: #08302F;
$other-vermillion: #333A56;
$electric-lime: #88D317;
$spring-green: #89DA59;
$olive: #57652A;

/* green blue It's not up to me to judge where these colors actually belong */
$stem: #80BD9E;

$salmon: #FA7C92;
$sunset: #985E6D;
$pastel-peach: #EDDBCD;
$eggplant: #874C62;

/* purple violet pink */
$mountain: #3F3250;
$amethyst: #675682;
$grape: #575DA9;
$plum: #4D2C3D;
$petal: #D48CF8;
$blush: #EE86B7;
$swatermelon: #FF3B3F;
$bright-coral: #F53240;
$almon: #C98474;
$hot-pink: #FE65B7;
$blush: #FF5992;
$magenta: #F81B84;
$fuschia: #E42D9F;
$rose: #E52A6F;
$jewel: #5F0F4E;


/*white and lighter grey*/
$eggshell: #F5F5F5;
$stark: #E7DFDD;
$clean: #DFDCE3;
$paper: #D5D5D5;
$slate: #EAE3EA;
$scrub: #C0B3A0;
$cool-grey: #CDCDCD;
$sleek-grey: #A5A5AF;
$cloud: #98878F;
$smoke: #6E7376;
$stormy: #494E68;

/*black and dark gray*/
$void: #0E0816;
$shadow: #2A3132;
$shark-grey: #22252C;/*I've also seen this called Navy for some reason*/
$cloud-shadow: #693D3D;
$gunmetal: #233237;
$crevice: #46211A;
$matte: #414141;
$tin: #828081;

/*yellow and orange*/
$corn: #E9C904;
$butter: #FEDC3D;
$fresh: #F7EF6A;
$lemon: #D7DD35;
$golden: #F9BE02;
$sand: #EAB126;
$honey: #DCAE1D;
$autumn-foliage: #763626;
$desert: #BA5536;/* really not sure where to put this one */
$petal: #F98866;
$ochre: #C06014;
$red-clay: #A43820;
$poppy: #FF420E;
