/* generated with materialpalette.com */
$background-color: #ffffff;
$dark-primary-color: #0288D1;
$light-primary-color: #B3E5FC;
$primary-color: #03A9F4;
$text-color: #FFFFFF;
$accent-color: #00BCD4;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
