/* generated with materialpalette.com */
$background-color: #FFFFFF;
$dark-primary-color: #C2185B;
$light-primary-color: #F8BBD0;
$primary-color: #E91E63;
$text-color: #FFFFFF;
$accent-color: #E040FB;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
